html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.mainWrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: 2px solid black;
}

.mainWrapper img.Backgroundimg {
    width: 200%;
    height: 200%;
    object-fit: cover; 
    object-position: top;
    opacity: 0.1; 
    position: absolute;
    z-index: 0;
}


.leftSection {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1;
}


.leftSection p.CCC {
    width: 50px;
    padding-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 91px;
    margin-bottom: 0;
    padding-top: 65px;
}

.leftSection p.CCCDesc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    color: #000000;
    padding-left: 30px;
}

.mainWrapper img.SSClogo {
    position: absolute;
    width: 450px;   
    top: 380px;
    left: 20px;
    opacity: 0.3;
    z-index: 1;
    padding-left: 30px;
    
}

.USClogo {
    position: absolute;
    top: 0;
    right: 0;
    height: 650px;
    z-index: 3;
    opacity: 0.3;
}

.signInBox {
    width: 630px;
    height: 730px;
    border-radius: 20px;
    z-index: 1;
    background-color: #00A950;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 40px;
    box-sizing: border-box;
}

.signInText{
    padding-top: 40px;
    padding-left: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 37px;
    margin-bottom: 0px;
    color: #ffffff;
}

.signInDesc{
    padding-left: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    margin-bottom: 80px;
}

form {
    width: 100%;
}

.form-group {
    width: 100%;
    flex: 1; /* Make both form groups take equal width */
    margin-right: 50px; /* Add some space between form groups */
}

.form-group:last-child {
    margin-right: 0; /* Remove margin-right for the last form group */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    float: left;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

.form-group label span {
    color: red;
}

.form-group input {
    width: 100%; /* Make input boxes take the full width of the form group */
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's total width */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.form-column {
    margin-bottom: 20px;
}

.form-group.full-width{
    width: 100%;
}

.forgotPassText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
    cursor: pointer;
}

.signInButton {
    width: 100%;
    height: 50px;
    background: #FBBF16;
    border: 0;
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signInButton:hover{
    background-color: #fff700;
}

.SignupRegisterBtn {
    display: inline-block;
    width: 100%;
    height: 50px;
    background: #006630;
    border: none;
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.SignupRegisterBtn:hover {
    background-color: #FBBF16;
}