html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


.mainWrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.mainWrapper img.Backgroundimg {
    width: 200%;
    height: 200%;
    object-fit: cover; 
    object-position: top;
    opacity: 0.1; 
    position: absolute;
    z-index: 0;
}

.leftDiv {
    height: 100%;
    width: 540px;
    z-index: 1;
}

.leftDiv p.CCC{
    position: relative;
    width: 50px;
    padding-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 91px;
    margin-bottom: 0;

    color: #000000;
}

.leftDiv p.CCCDesc{
    position: relative;
    padding-left: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
    color: #000000;
}

.mainWrapper img.SSClogo {
    position: absolute;
    width: 471px;   
    top: 397px;
    opacity: 0.3;
    margin-left: 35px;
    z-index: 1;
}

.rightDiv {
    height: 100%;
    width: 900px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.signUpBox{
    width: 100%;
    height: 80%;
    background-color: #00A950;
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    margin: 0;
}

.signUpText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 77px;
    margin-bottom: 0px;
    color: #ffffff;
}

.signUpBox form {
    display: block;
    gap: 20px; /* Add some space between form elements */
    align-items: center; /* Align items at the center horizontally */
}

.form-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* border: 2px solid black; */
    float: left;
    margin-left: 135px;
    margin-top: 40px;
}

.form-group {
    width: 300px;
    flex: 1; /* Make both form groups take equal width */
    margin-right: 0px; /* Add some space between form groups */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    float: left;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

.form-group label span {
    color: red;
}

.form-group input {
    width: 100%; /* Make input boxes take the full width of the form group */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's total width */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}

.form-column {
    /* justify-content: center; */
    margin-bottom: 20px;
    /* border: 2px solid black; */
    /* float: left; */
    margin-left: 135px;
    width: 864px;
}

.form-group.full-width{
    width: 85%;
}

.createAccButton{
    position: relative;
    width: 260px;
    height: 70px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    background: #006630;
    text-align: center;
    color: white;
    cursor: pointer;
    border: 0px;

    border-radius: 50px;

    transition: background-color 0.3s ease;
}


.signUpBox button.createAccButton:hover{
    background-color: #FBBF16;
}